.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 0;
  backdrop-filter: blur(15px);
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #28282B;
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust logo height */
  width: auto;  /* Keep width proportional */
  transition: 0.4s;
}

.logo:hover{
  transform: scale(1.1);
}

.nav-toggle {
  display: none;
}

.nav-menu {
  display: flex;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #ffffff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.icon-class{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.nav-link.active {
  background-color: rgba(40, 40, 43, 0.9);
  border-radius: 15rem;
  padding: 5px;
  padding-left: 10px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  backdrop-filter: blur(10px);
  color: #4a90e2;
}

.mobile-logo {
  display: none;
}

@media (max-width: 968px) {
  .nav-toggle {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 25px;
    position: relative;
    z-index: 2;
  }

  .nav-toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  .nav-toggle span:nth-child(1) {
    top: 0px;
  }

  .nav-toggle span:nth-child(2) {
    top: 10px;
  }

  .nav-toggle span:nth-child(3) {
    top: 20px;
  }

  .nav-toggle.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
  }

  .nav-toggle.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .nav-toggle.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
  }

  .nav-menu.open {
    right: 0;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .nav-link {
    font-size: 1.3rem;
    transition: 0.3s;
  }

  .nav-link:hover{
    transform: scale(1.15);
  }

  .nav-link.active {
    margin: 0;
  }

  .mobile-logo {
    display: block;
    margin-top: 40px;
  }
}
